* {
    box-sizing: border-box;
}

:root {
    --pale: hsl(225, 100%, 94%);
    --bright: hsl(245, 75%, 52%);
    --dark: hsl(223, 47%, 23%);
    --desaturated: hsl(224, 23%, 55%);
    --verypale: hsl(225, 100%, 98%);
    --lightly: hsl(225, 100%, 96%);
}

body {
    background: url(/IMAGES/pattern-background-desktop.svg);
    background-color: var(--pale);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card-container {
    width: 30%;
    height: 570px;
    display: flex;
    flex-direction: column;
    background-color: var(--verypale);
    border-radius: 10px;
}

.card-image {
    background: url(/IMAGES/illustration-hero.svg) no-repeat center/cover;
    border-radius: 10px 10px 0 0;
    height: 35%;
    width: 100%;
}

.card-content {
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: 'Red Hat Display', sans-serif;
    padding: 20px;
}

h1 {
    font-weight: 900;
}

p {
    font-size: 16px;
    color: var(--dark);
    padding: 0px 40px;
}

.subscription-plan {
    background: var(--lightly);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Red Hat Display', sans-serif;
}

.detail {
    list-style: none;
    position: relative;
    text-align: start;
}

.change-plan a {
    color: var(--bright);
}

.music-icon {
    padding-left: 12px;
    height: fit-content;
}

.plan-type {
    font-weight: bold;
}

.plan-amount {
    color: var(--dark);
}

button {
    margin-top: 30px;
    height: 15%;
    width: 90%;
    border-radius: 10px;
    outline: none;
    border: none;
    background: var(--bright);
    color: var(--verypale);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    box-shadow: 5px 5px 15px var(--desaturated);
}

.cancel-order {
    color: var(--desaturated);
    margin-top: 20px;
}

.cancel-order:hover {
    color: black;
    font-weight: 700;
}

button:hover {
    background: var(--dark);
}

.change-plan a:hover {
    color: var(--dark);
}

@media (max-width: 600px) {
    .card-container {
          flex-direction: column;
          align-items: center;
          height: 570px;
          width: 95%;
    }
    .change-plan {
        padding-left: 60px;
    }
}
